# This config file has been structured to cater for all apps
# and all regions to provide a combined solution for any backup type

mysqlSOCKET=/data/mysql/mysql.sock 
mysqlPORT=3306

#espLOGDIR=/var/log/esellerpro
espMINKBLOCKS=10000000
espFORCEMASTERBACKUP=0
espDUMPTHREADS=2
espBCKLPATH=/databackup
awsFOLDER=dbbackup
DRY_RUN=
# choose specific backup directory for application. Always dbbackup at present.
espDBBCKDIR=/dbbackup
espTABEXCLUDES=$espDBBCKDIR/excluded_tables
# espAPPTYPE
# Volo application type
# make sure you understand the implications of each.
# origin|vision - can determine slave|master config and will backup accordingly (e.g. non-locking, locking)
# web - will not be able to determine slave|master - locking/consistent backup forced by setting espFORCESLAVEBACKUP=1
# utility - will not be able to determine slave|master - locking/consistent backup forced by setting espFORCESLAVEBACKUP=1
# espAPPTYPE=origin|vision|web|utility
espAPPTYPE=vision

# define a region. This will be used to store S3 backups in appropriate country/region
# for each region, ensure the corresponding bucket is defined also
# espAPPREGION=uk|us-west|us-central|us-east
espAPPREGION=eu-west

# espFORCESLAVEBACKUP
# Forces slave backup type
# Where it cannot be accurately determined as a slave (i.e. non-Origin/Vision)
# then this setting will force a slave backup (i.e. locking, consistent)
# Be careful with this one as it could cause read locking.
# Ineffective for Origin/Vision DB servers
espFORCESLAVEBACKUP=1

# espFORCEMASTERBACKUP
# Forces master backup type
# Where it has been determined to be a master server and configured as a slave (e.g. is master-master config).
# This setting can be used to ensure the backup is performed even though the slave should be doing the backup.
# Confusion could arise where two backups are sent to S3, hence the desire to have this setting.
# espFORCEMASTERBACKUP=0

# espBACKUPRETENTION
# Number of days to keep backups on the local server
espBACKUPRETENTION=2

# espDBLOGTRIM
# Whether or not to trim DB logs (yes|no)
# espDBLOGTRIM=no

# espTRIMDAYS
# Number of days to trim binary logs
# Ineffective for master/slave servers
# espTRIMDAYS=3



#############################################################################
### THE FOLLOWING SHOULD NOT NEED TO BE ALTERED ROUTINELY AS THE SETTINGS ###
### ARE DERIVED FROM espAPPREGION AND espAPPTYPE                          ###
#############################################################################

#############################
### REGION SPECIFIC STUFF ###
#############################

# dynamically generated stuff dependent upon app type and region
# only need to define espAPPREGION, espAPPTYPE above

if [ "${espAPPREGION}" = "eu-west" ]; then
	awsBUCKET=espbackup-eu-d8a1d818-87dd-11e7-b78e-9cb6d0d99433
	# allowed backup periods (for master and non-repl backup types)
	espPERIOD1FROM="20:00"
	espPERIOD1TO="23:00"
	espPERIOD2FROM="00:00"
	espPERIOD2TO="17:30"
elif [ "${espAPPREGION}" = "us-east" ]; then
	awsBUCKET=espbackup-us-fbb83518-87dd-11e7-9e96-9cb6d0d99433
	# allowed backup periods (for master and non-repl backup types)
	espPERIOD1FROM="01:00"
	espPERIOD1TO="04:00"
	espPERIOD2FROM="05:00"
	espPERIOD2TO="11:30"
elif [ "${espAPPREGION}" = "us-west" ]; then
	awsBUCKET=espbackup-us-fbb83518-87dd-11e7-9e96-9cb6d0d99433
	# allowed backup periods (for master and non-repl backup types)
	espPERIOD1FROM="04:00"
	espPERIOD1TO="07:00"
	espPERIOD2FROM="08:00"
	espPERIOD2TO="14:30"
fi


#####################################
### APP TYPE SPECIFIC MYSQL STUFF ###
#####################################

if [ "${espAPPTYPE}" = "origin" ]; then

	##############
	### ORIGIN ###
	##############

	# Origin SQL for DB list (used for non-repl and master backups only)
	espDBLISTSQL="SELECT s.SCHEMA_NAME FROM INFORMATION_SCHEMA.SCHEMATA s LEFT JOIN esellerpromaster.hostedclient h ON (s.SCHEMA_NAME=h.DBName) WHERE inuse=1"

	# list of extra DBs for Origin
	espEXTRADBS=( "access" "mysql" "esellerpromaster" )

	# list of excluded tables
	# quote regex expressions
	# this will match across all DBs, there is no DB context, so be careful not to exclude stuff inadvertently
	espEXCLUDETABS=( "^temp_listing.*" "^.*techops_hk$")

elif [ "${espAPPTYPE}" = "vision" ]; then

	##############
	### VISION ###
	##############

	# Vision SQL for DB list (used for non-repl and master backups only)
	espDBLISTSQL="SELECT i.SCHEMA_NAME FROM INFORMATION_SCHEMA.SCHEMATA i JOIN provisualise.clientconnections c ON (i.SCHEMA_NAME=SUBSTR(c.ConnectionString,INSTR(c.ConnectionString,'/espreport')+1,INSTR(c.ConnectionString,'?')-INSTR(c.ConnectionString,'/espreport')-1)) WHERE c.ConnectionString LIKE 'jdbc:mysql://%/espreport%' AND c.InUse=1"

	# list of extra DBs for Vision
	espEXTRADBS=( "mysql" "provisualise" )

	# list of excluded tables
	# quote regex expressions
	# this will match across all DBs, there is no DB context
	espEXCLUDETABS=( )
else
	#######################
	### OTHER APP TYPES ###
	#######################
	:
fi

